<div class="container mx-auto pt-5">
    <h1 class="text-5xl font-bold text-center">Employee List</h1>
    
    <div class="container mx-auto w-5/6">
        <button routerLink="/add-employee/_add" class="rounded-md bg-sky-500 px-5 py-2 mb-2 mt-5">Add Employee</button>
        
        <table class="w-full">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th class="border-x">Last Name</th>
                    <th class="border-x">E-Mail</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees | async">
                    <td class="pl-2">{{employee.first_name}}</td>
                    <td class="pl-2 border-x">{{employee.last_name}}</td>
                    <td class="pl-2 border-x">{{employee.email}}</td>
                    <td class="pl-2">
                        <button [routerLink]="['/add-employee', employee.emp_id]" class="rounded-md bg-sky-500 px-5 py-2 mx-1 my-3">Update</button>
                        <button class="rounded-md bg-red-600 px-5 py-2 mx-1 my-3">Delete</button>
                        <button [routerLink]="['/view-employee', employee.emp_id]" class="rounded-md bg-sky-500 px-5 py-2 mx-1 my-3">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>