<h1>Employee List</h1>

<button>Add Employee</button>

<table>
    <tr>
        <td>First Name</td>
        <td>Last name</td>
        <td>E-Mail</td>
        <td>Actions</td>
    </tr>
    <tr>
        <td>Asfi</td>
        <td>Angelis</td>
        <td>asfi@ang.ca</td>
        <td>
            <button>Update</button>
            <button>Delete</button>
            <button>View</button>
        </td>
    </tr>
    <tr>
        <td>Lumina</td>
        <td>Angelis</td>
        <td>lumi@ang.ca</td>
        <td>
            <button>Update</button>
            <button>Delete</button>
            <button>View</button>
        </td>
    </tr>
    <tr>
        <td>Alisha</td>
        <td>Angelis</td>
        <td>ali@ang.ca</td>
        <td>
            <button>Update</button>
            <button>Delete</button>
            <button>View</button>
        </td>
    </tr>
</table>