<div class="container mx-auto pt-5">
    <h1 class="text-5xl font-bold text-center">Add Employee</h1>
    
    <div class="p-10">
        <form>
            <input class="rounded w-full h-10 mb-2 p-2" placeholder="First Name" />
            <input class="rounded w-full h-10 mb-2 p-2" placeholder="Last Name" />
            <input class="rounded w-full h-10 mb-2 p-2" placeholder="email" />
            <div class="pb-2 text-xl">
                Gender: <input class="mx-1" type="radio" name="gender" value="Male" /> <label class="mr-5">Male</label>
                <input class="mr-1" type="radio" name="gender" value="Female" /> <label class="mr-5">Female</label>
                <input class="mr-1" type="radio" name="gender" value="Other" /> <label class="mr-5">Other</label>
            </div>
            <input class="rounded w-full h-10 mb-2 p-2" placeholder="Salary" />
        </form>
        
        <button class="rounded-md bg-sky-500 px-5 py-2 mr-2">Save</button>
        <button class="rounded-md bg-red-500 px-5 py-2 mr-2">Cancel</button>
    </div>
</div>